/*
\\\\\\\\\\\  RESET ////////////
*/
html {
    color: #000;
    background: #FFF;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
select,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
button,
caption,
cite,
code,
dfn,
em,
input,
optgroup,
option,
select,
strong,
textarea,
th,
var {
    font:inherit;
}

del,
ins {
    text-decoration: none;
}

li {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: baseline;
}

sub {
    vertical-align: baseline;
}

/*because legend doesn't inherit in IE */
legend {
    color: #000;
}
/*
\\\\\\\\\\\\\\\\\\\   MAIN  ////////////////////
*/
body {
    background-color:  #F6EFDF;
}

.thank {
    text-align: center;
    color: rgb(90, 126, 65);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
}
.main {
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 66px;
    background-color: #F6EFDF;
}
.main_content {
    margin: 38px auto 0 auto;
    height: auto;
    width: 982px;
}
/* vertical align in GALERRY */
.va {
    vertical-align: top;
}
/*
*
*************************LEFTSIDEBAR******************************
*
*/
.wrapperForLeftBar {
    width: 525px;
    margin: 0 auto;
}
.leftSideBar, .vg {
    display: inline-block;
    vertical-align: top;
    padding-left: 73px;
    width: 663px;
    box-sizing: border-box;
}
.content_font {
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #5a7e41;
}
.content_headertext1 {
    font-weight: bold;
}
.content_headertext2 {
    margin-top: 17px;
}
.content_headertext3 {
    margin-top: 18px;
}
.content_main {
    padding-top: 40px;
    padding-left: 4px;
    box-sizing: border-box;
}
.content_main_textBar {
    width: 586px;
    height: 177px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 14.6667px;
    line-height: 22px;
    padding-right: 4px;
    margin-bottom: 51px;
    box-sizing: border-box;
}
.content_main_textBar span{
    color: rgb(204, 102, 51);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18.6667px;
    line-height: 22px;
}
.content_foot a, .content_main_textBar a {
    color: rgb(123, 92, 38);
    font-family: Verdana;
    font-size: 13.3333px;;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
}
.content_main_textBar a:hover {
    color: #94D7A4;
}
.img_home {
    float: left;
    margin-right: 5px;
    width: 100%;
    max-width: 256px;
}
.img_home2 {
    float: right;
    margin-right: 6px;
    width: 100%;
    max-width: 256px;
}
.content_foot {
    color: rgb(0, 102, 0);
    font-family: Tahoma;
    margin-top: 61px;
    font-size: 18px;
    height: 90px;
    line-height: 22px;
    text-align: justify;
}
.content_foot a:hover {
    color: #94D7A4;
}
/*
*
*************************RIGHTSIDEBAR******************************
*
*/
.rightSideBar {
    display: inline-block;
    vertical-align: top;
    margin-left: 29px;
}
.featured_property {
    margin-top: 2px;
    width: 270px;
    height: auto;
    border-radius: 14px/7px;
    border: 1px solid #D8D1B4;
    box-sizing: border-box;
    padding-left: 19px;
    padding-top: 8px;
}
.featured_property_head {
    color: rgb(90, 126, 65);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14.6667px;
    font-weight: bold;
    line-height: 22px;
}
.featured_property_lot {
    color: rgb(0, 0, 0);
    font-family: Tahoma;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 13px;
}
.mainPrice, .mainID, .description {
    color: rgb(0, 0, 0);
    font:600 12px / 22px Tahoma;
}
.description {
    font-weight: normal;
}
.mainAnchor {
    width: 100px;
    height: 100px;
    float: right;
    margin: 3px 22px 0 5px;
}
.mainImage {
    box-sizing: border-box;
    border: 1px solid #000000;
}.viewDetails {
     display: block;
 }
.clickBar {
    background-color: #5a7e41;
    width: 273px;
    height: 30px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 31px;
    padding-top: 8px;
    font-family: Verdana;
    font-size: 12px;
    border-radius: 5px;
}
.clickBar a {
    text-decoration: none;
    color: #ffffff;
}
.coosawattee {
    margin-top: 30px;
}
.contactBar {
    height: 185px;
    width: 270px;
    margin-top: 30px;
    border: 1px solid #C9B993;
    border-radius: 14px/7px;
    background-color: #DDD0B2;
    text-align: center;
}
.ad {
    width: 273px;
    height: auto;
    margin-top: 30px;
    text-align: center;
    color: rgb(0, 102, 0);
    font: 400 14.6667px / 22px Tahoma;
    font-style: italic;
    padding: 15px 40px;
    box-sizing: border-box;
}
.ad span {
    color: rgb(192, 138, 110);
    font-weight: bold;
}
.contactBar p {
    font-family: Tahoma;
    font-size: 14.6667px;
    font-weight: bold;
    line-height: 22px;
    margin-top: 19px;
}
.formContact {
    width: 270px;
    height: 394px;
    margin-top: 30px;
    border: 1px solid #C9B993;
    border-radius: 14px/7px;
}
.form_head {
    font:600 14.6667px Tahoma;
    margin-top: 10px;
    text-align: center;
}
.form label {
    font-family: Tahoma;
    font-size: 13px;
    line-height: 22px;
}
.form input {
    width: 135px;
    height: 19px;
    box-sizing: border-box;
    margin-left: 3px;
    background-color: rgb(221, 208, 178);
    border: 1px solid rgb(201, 185, 147);
}
.formName,
.formAddress,
.formPhone,
.formMessage{
    float: right;
    margin-right: 16px;
    margin-top: 17px;
}
/* CAPTCHA */
.g-recaptcha {
    transform: scale(0.75);
    -webkit-transform: scale(0.75);
    -ms-transform:scale(0.75);
    -o-transform: scale(0.75);
    -moz-transform: scale(0.75);
    position: relative;
    left: 37px;
}

.formArea {
    margin-left: 3px;
    color: #000000;
    width: 135px;
    box-sizing: border-box;
    border: 1px solid #C9B993;
    background-color: #DDD0B2;
    font: 13.3333px Arial;
    resize: none;
}
.labelArea {
    float: left;
}
.securityImage {
    float: right;
}
#formSecurity {
    float: right;
    margin-top: 5px;
    clear: both;
}
.formSecurity {
    box-sizing: border-box;
    padding-top: 3px;
    float: right;
    margin-right: 13px;
}
.formSecurity label {
    position: relative;
    top: 4px;
    float: right;
    margin-right: 4px;
}
.formButton {
    display: block;
    width: 108px!important;
    height: 31px!important;
    border: none!important;
    margin-left: 86px!important;
    outline: none;
}
.formButtonContact {
    display: block;
    width: 108px;
    height: 31px;
    border: none;
    margin-left: 103px;
}
.button {
    width: 100%;
    margin-right: 0!important;
}
.marginL {
    margin-left: 192px;
}
.avtoH {
    height: auto;
}
/*
\\\\\\\\\\\\\ HEAD ///////////////////////////
 */
/*
*
*********  FIXED BAR *******************************\\\
*
*/
.fixed_side_text {
    width: 100%;
    height: auto;
    padding-top: 5px;
    padding-left: 23px;
    box-sizing: border-box;
    color: rgb(66, 88, 52);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 21.3333px;
    font-style: italic;
    line-height: 22px;
}
.fixed_side_info {
    box-sizing: border-box;
    padding-top: 5px;
    padding-left: 45px;
    color: #425834;
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 22px
}
.fixed_side_info a {
    color: #7B5C26;
    font:10pt Verdana;
    font-style: italic;
    text-decoration: none;
    font-weight: bold;
}
.fixed_side_anchor {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-top: 5px;
    padding-left: 23px;
}

/*
** HEADER ******************************************\\
*/
head {
    width: 100%;
    box-sizing: border-box;
    background-color: #769A5D;
}
.head_name_wrap {
    width: 100%;
    height: 117px;
    box-sizing: border-box;
    padding: 0px 35px;
    background: #769A5D;
}
.head_name {
    height: 117px;
    width: 982px;
    box-sizing: border-box;
    padding-top: 37px;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    font: bold 48px / 22px Tahoma;
}
.head_menu_wrap {
    height: 35px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 -25px 90px rgba(0, 0, 0, 0.71);
    padding: 0px 35px;
    background-color: #2D221C;
}
.head_menu {
    width: 982px;
    height: 35px;
    margin: 0 auto;
    box-sizing: border-box;
}
.fa-navicon:before, .fa-reorder:before, .fa-bars:before, .head_menu_button, .head_menu_onclick {
    display: none;
}

.head_menu a {
    display: block;
    float: left;
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
    margin-top: 2px;
    height: 33px;
    font: bold 13.33333px / 33px Verdana;
    text-decoration: none;
    text-align: center;
    color: #fff;
}
.head_menu_home {
    width: 78px;
    margin-right: 17px;
    color: #2D221C!important;
    background-color: #94D7A4;
}
.head_menu_home:hover {
    background-color: #fff;
}
.head_menu a:not(:first-child):hover {
    color: #2D221C;
    background-color: #94D7A4;
}
.head_menu_listing {
    width: 163px;
}
.head_menu_community {
    width: 163px;
}
.head_menu_gallery {
    width: 99px;
}
.head_menu_contact {
    width: 119px;
}
.head_slider_bar {
    height: 358px;
    width: inherit;
    box-sizing: border-box;
    background-color: #94D7A4;
    background: url("../images/bg_hd.png");
}
.head_slider {
    width: 982px;
    height: 358px;
    padding-top: 57px;
    padding-left: 122px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #fff;
    background: url("../images/border.png") no-repeat;
}
.fixedHead_side_bar {
    display: none;
}
.head_wrap_slider {
    width: 601px;
    height: 264px;
    float: left;
}
.head_side_bar {
    float: left;
    margin-left: 11px;
    margin-top: 14px;
    box-sizing: border-box;
    width: 241px;
    height: 244px;
    background: url("../images/sidebar.png") no-repeat;
    background-size: cover;
}
.head_side_text {
    width: 100%;
    height: auto;
    padding-top: 21px;
    padding-left: 23px;
    box-sizing: border-box;
    color: rgb(66, 88, 52);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 21.3333px;
    font-style: italic;
    line-height: 22px;
}
.head_side_info {
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 45px;
    color: #425834;
    font:italic 16px / 22px Georgia;
}
.head_side_info a {
    color: #7B5C26;
    font:italic 600 10pt Verdana;
    text-decoration: none;
}
.head_side_anchor {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-top: 36px;
    padding-left: 23px;
}
.head_side_button {
    cursor: pointer;
    position: relative;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px #868686;
    float: right;
    right: 3%;
    border: 1px solid transparent;
    width: 31px;
    height: 21px;
    background: url("../images/button_side_bar.png") no-repeat;
}
.head_side_sitemap, .head_side_directions {
    display: block;
    text-decoration: none;
    padding-top: 7px;
    padding-left: 20px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    height: 38px;
    width: 200px;
    box-sizing: border-box;
    border: 1px solid #D8D1B4;
    font: 600 13.5667px /22px Tahoma;
    color: #5a7e41;
}
.head_side_underslide {
    display: none;
}
/*
///////////// FOOTER \\\\\\\\\\\\\\\\\\\\\\\\\
*/
.foot_image_car {
    height: 169px;
    width: 100%;
    background: url("../images/bottomLeft.jpg") no-repeat;
    background-color: #F6EFDF;
}
.foot_bottom {
    height: 157px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 32px;
    background: url("../images/bottombottom.jpg") no-repeat;
    background-color: #2D221C;
}
.foot_wrapperLink {
    width: 836px;
    margin: 0 auto;
}
.foot_bottom div a {
    display: inline-block;
    text-decoration: none;
    color: rgb(123, 92, 38);
    font-family: Verdana;
    font-size: 13.3333px;
    font-weight: bold;
}
.foot_bottom div a span{
    color: rgb(246, 239, 223);
    font-family: Tahoma;
    font-size: 14.6667px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
}
.foot_copyright {
    color: rgb(131, 201, 147);
    padding-top: 19px;
    margin: 0 auto;
    text-align: center;
    font:400 14.667px Tahoma;
}
.foot_info {
    margin: 0 auto;
    padding-top: 19px;
    text-align: center;
}
.foot_infotext1 {
    color: rgb(255, 255, 255);
    display: inline;
    font-family: Tahoma;
    font-size: 13.3333px;
}
.foot_infotext2 {
    margin-left: 1px!important;
    margin-top: 0px!important;
}
.foot_bottom div a:hover {
    color: rgb(131, 201, 147);
}
.foot_wrapperLink a:nth-child(-n+7):after {
    content: "::";
    color: #ffffff;
    margin-left: 4px;
    margin-right: 4px;
}
/*
\\\\\\\\\\\\\ SITE-PLAN /////////////////
*/
#sitePlan .siteMapHead {
    color: rgb(0, 0, 0);
    font: 400 14.6667px /22px Tahoma;
    height: 22px;
    margin-bottom: 22px;
}
#sitePlan .wrapperSiteMap {
    width: 100%;
    margin-top: 48px;
}
#sitePlan .siteMap {
    width: inherit;
}
#sitePlan .main_content {
    height: auto;
}
/*
\\\\\\\\\\\\\ THE COMMUNITY  /////////////////
*/
#theCommunity .content_main_textBar a {
    text-decoration: none;
    color: rgb(123, 92, 38);
    font:600 13.333px / 22px Verdana;
}
#theCommunity .content_main_textBar a:hover {
    color: #94D7A4;
}
#theCommunity .content_main_textBar {
    height: auto;
}
#theCommunity .img_home2 {
    margin: 0 0 0 6px;
}
#theCommunity .content_headertext3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 14.6667px;
}
#theCommunity .content_main {
    padding-top: 20px;
}
/*
\\\\\\\\\\\\\ THE DIRECTIONS  /////////////////
*/
#directions .main_content {
    height: 1200px;
}
#directions .directionsHead {
    color: rgb(90, 126, 65);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17.16px;
    font-weight: bold;
    line-height: 22px;
}
#directions .content_main_textBar {
    height: 100px;
}
#directions .mapImage {
    height: auto;
    margin: 0 auto 51px auto;
    max-width: 475px;
}
#directions .mapImage img {
    width: 100%;
}
#directions .directionsHead {
    margin-bottom: 5px;
}
/*
****** CONTACT _US *******
*/
.align {
    margin-right: -30px;

}

/*
*
********************     media queries  < 1035    ************************
*
*/
@media (max-width: 1035px) {
    .head_side_barFixed {
        display: inline-block;
        box-sizing: border-box;
        margin-top: 5px;
        border-radius: 0 5px 5px 0;
        width: 228px;
        height: 173px;
        background: url("../images/sidebar.png") no-repeat 0 -6px;
    }
    .close_button {
        float: right;
        position: relative;
        top: 42px;
        color: #769A5D;
        transition: 0.8s ease-in-out;
    }
    .head_name {
        width: 100%;
    }
    .head_menu {
        width: 100%
    }
    .head_slider {
        width: 734px;
    }
    .head_slider_bar {
        margin: 0 auto;
    }
    .fixedHead_side_bar {
        position: fixed;
        top: 27%;
        left: -245px;
        display: block;
        width: 260px;
        height: 100px;
        border: 1px solid #C9B993;
        border-radius: 0 15px 15px 0;
        cursor: pointer;
        background-color: #94D7A4;
        transition: 0.9s ease-in-out;
        overflow: hidden;
    }
    .head_menu_onclick, .head_side_bar {
        display: none;
    }

}
/*
*
********************     media queries  < 1000    ************************
*
*/
@media (max-width: 1000px) {
    .marginL {
        margin-left: 0px;
    }
    .formSecurity {
        box-sizing: border-box;
        padding-top: 3px;
        float: right;
        margin-right: 7px;
    }
    .main_content {
        width: 93%;
        height: auto;
    }
    .content_foot {
        height: auto;
        margin-bottom: 20px;
    }
    .leftSideBar {
        width: 100%;
        padding-left: 0;
    }
    .content_main_textBar {
        width: 100%;
    }
    .content_main_textBar {
        height: auto;
        min-height: 144px;
    }
    .rightSideBar {
        display: block;
        margin: 0 auto;
        width: 570px;
    }
    .plHelper {
        width: 245px;
    }
    .rightSideBar_wrapper {
        height: 570px;
    }
    .helpWrapper {
        float: left;
        width: 273px;
        height: auto;
    }
    .helpWrapper > div {
        width: 245px;
    }
    .coosawattee a img {
        width: 245px;
    }

    .formContact {
        margin-top: 2px;
        float: right;
        width: 245px;
    }
    .formName,
    .formAddress,
    .formPhone,
    .formMessage {
        margin-right: 10px;
    }
    .formButton {
        margin: 0 auto!important;
        padding-left: 0;
    }
    /*
    ////////// DIRECTIONS \\\\\\\\\\\\\\\
    */
    #directions .main_content {
        height: auto;
    }
    #directions .leftSideBar {
        height: auto;
    }
    #directions .clickBar {
        margin-top: 0;
    }
    #directions .formContact {
        margin-top: 0;
    }
    #directions .content_main {
        padding-top: 34px;
    }
    #directions .content_main_textBar {
        min-height: 70px;
        height: auto;
    }
    #directions .mapImage {
        height: auto;
    }
    #sitePlan .clickBar {
        margin-top: 0;
    }
    #sitePlan .formContact {
        margin-top: 0;
    }
}
/*
*
********************     media queries  < 870    ************************
*
*/
@media (max-width: 870px) {
    .foot_wrapperLink a:nth-child(-n+7):after {
        content: "";
    }
    .foot_wrapperLink {
        width: inherit;
    }
    .foot_wrapperLink a {
        width: 50%;
        float: left;
    }
    .foot_bottom div a {
        margin: 5px 0 0 0;
        padding-left: 10%;
        box-sizing: border-box;
    }
    .foot_bottom div a:hover {
        color: rgb(131, 201, 147);
    }
    .foot_wrapperLink a span {
        display: none;
    }
    .foot_bottom {
        height: auto;
    }
    .foot_copyright {
        padding-top: 118px;
    }

    .foot_wrapperLink a:before {
        content: "::";
        color: #ffffff;
        margin-right: 5px;
    }
    .foot_infotext2 {
        padding-left: 0!important;
    }
}
/*
*
********************     media queries  < 790    ************************
*
*/
@media (max-width: 790px) {
    .head_menu_onclick a {
        display: block;
        text-decoration: none;
    }
    .head_name_wrap {
        height: 57px;
        padding: 15px 0px 0px 0px;
    }
    .head_name {
        margin: 0 auto;
        width: 93%;
        height: 29px;
        font-size: 30px;
        padding: 0px;
    }
    .head_slider {
        margin: 0 auto;
        width: 600px;
        height: auto;
        background: none;
        padding-left: 0px;
        padding-top: 22px;
    }
    .head_slider_bar {
        height: auto;
        padding-bottom: 22px;
        background-size: cover;
    }
    .head_wrap_slider {
        margin: 0 auto;
    }
    .head_wrap_slider {
        float: none;
        width: 100%;
        height: auto;
    }
    .bx-wrapper .bx-viewport {
        border:  10px solid #fff;
        box-sizing: border-box;
    }
    .head_menu_wrap {
        height: 10px;
    }
    .head_menu {
        display: none;
    }
    .head_menu_onclick {
        position: absolute;
        top: 51px;
        cursor: pointer;
        text-align: center;
        display: none;
        width: 100%;
        height: 225px;
        box-sizing: border-box;
        z-index: 9;
        background-color: #2D221C;
        color: #ffffff;
    }
    .head_menu_button {
        position: relative;
        top: -4px;
        cursor: pointer;
        display: block;
        float: right;
        width: 30px;
        height: 30px;
        box-sizing: border-box;
    }
    .head_menu_onclick a {
        width: 100%;
        height: 45px;
        line-height: 45px;
        font: bold 13.33333px / 45px Verdana;
        transition: 0.3s;
        color: #ffffff;
    }
    .head_menu_onclick a:hover {
        background-color: #94D7A4;;
    }
    .fa-navicon:before, .fa-reorder:before, .fa-bars:before {
        display: block;
    }
    .menu_active {
        display: block;
    }
}
/*
*
********************     media queries  < 700    ************************
*
*/
@media (max-width: 700px) {

    .leftSideBar {
        width: 100%;
        padding-left: 0px
    }
    .content_main_textBar {
        width: 100%;
        height: auto;
    }
    .content_main_textBar img {
        margin: 0 5px;
    }
    .rightSideBar_wrapper {
        height: auto;
        width: 245px;
        margin: 0 auto;
    }
    .rightSideBar {
        width: 245px;
    }
    .helpWrapper {
        float: none;
        width: 245px;
        height: auto;
    }
    .formContact {
        float: none;
        width: 245px;
        margin-top: 22px!important;
    }
    /*#directions .main_content {*/
        /*height: 1850px;*/
    /*}*/
}
/*
*
********************     media queries  < 654    ************************
*
*/
@media (max-width: 654px) {
    .head_slider {
        width: 93%;
    }
}
/*
*
********************     media queries  < 640    ************************
*
*/
@media (max-width: 640px) {
    .foot_image_car {
        background: url("../images/bottomLeft.jpg") no-repeat -212px;
        background-color: #F6EFDF;
    }
    .foot_bottom {
        background: url("../images/bottombottom.jpg") no-repeat -20px;
        background-color: #2D221C;
    }

}
@media (max-width: 370px) {
    .foot_copyright {
        padding-top: 131px;
    }
}
/*
*
********************     media queries  < 500    ************************
*
*/
@media (max-width: 500px) {
    .content_main {
        padding-top: 30px;
    }
    .content_header p {
        font-size: 17px;
    }
    .content_main_textBar {
        text-align: justify;
    }
    .content_main_textBar img, #theCommunity .img_home2 {
        float: none;
        margin: 0 auto 10px auto ;
        display: block;
    }
    .content_header {
        text-align: justify;
    }
    .thank {
        font-size: 18px;
    }

    .rightSideBar {
        width: 100%;
    }
    .rightSideBar_wrapper {
        width: 100%;
    }
    .helpWrapper {
        width: 100%;
    }
    .helpWrapper > div {
        width: 100%;
    }
    .featured_property:after {
        display: block;
        content: "";
        clear: both;
        height: 10px;
    }
    .viewDetails {
        margin-top: 19px;
    }
    .viewDetails img {
        vertical-align: bottom;
    }
    .coosawattee a img {
        width: 273px;
        margin: 0 auto;
        display: block;
        border-radius: 14px;
    }
    .coosawattee a {
        width: 100%;
        display: block;
        border-radius: 14px/7px;
        background-image: url("/images/fon.jpg");
    }
    .formwrapper {
        width: 245px;
        margin: 0 auto;
    }
    .formContact {
        width: 100%;
    }
}
/*
*
********************     media queries  < 485    ************************
*
*/
@media (max-width: 480px) {
    .head_name span {
        font-size: 18px;
    }
    .head_slider {
        padding-top: 22px;
    }

}
/*
*
********************     media queries  < 430    ************************
*
*/
@media (max-width: 430px) {
    .fixedHead_side_bar {
        display: none;
    }
    .head_side_underslide {
        display: block;
        margin: 20px auto 0;
        width: 245px;
        height: 183px;
        border: 1px solid #C9B993;
        border-radius: 15px;
        background: url("../images/sidebar.png") no-repeat 0 -6px;
        background-size: 120%;
    }
}
/*
*
********************     media queries  < 400    ************************
*
*/
@media (max-width: 400px) {
    /*#directions .main_content {*/
        /*height: 1773px;*/
    /*}*/
    .align {
        margin-right: 0;
    }
}
.ggg {
    overflow-x: auto; overflow-y: hidden; max-width: 100%;
    transform: scale(0.98);
    -webkit-transform: scale(0.98);
    -ms-transform:scale(0.98);
    -o-transform: scale(0.98);
    -moz-transform: scale(0.98);
}