.main_content {
    height: auto;
}
.content_header {
    text-align: center;
}
.cForm {
    width: 330px;
    margin: 10px 0 20px 0;
}
.formHead {
    text-align: center;
}
.formField {
    width: 173px;
    resize: none;
}
.formWrapperField {
    display: inline-block;
    width: 173px;
}
.label {
    width: 140px;
    text-align: left;
    float: left;
}
.formWrapperField img {
    margin: 0 0 5px 0;
    width: 100%;
}
.alignB {
    position: relative;
    top: 40px;
}
.cForm .g-recaptcha {
    /* position: relative; */
    left: 0;
    width: 284px;
    margin: 10px auto;
}
/*
*
********************     media queries  < 1000    ************************
*
*/
@media (max-width: 1000px) {
    .helpWrapper {
        float: none;
        margin: auto;
        width: 245px;
    }
}
/*
*
********************     media queries  < 360    ************************
*
*/

@media (max-width: 360px) {
    .alignB {
        top: 0;
    }
    .cForm {
        width: 100%;
    }
    .formField {
        width: 100%;
    }
    .formWrapperField {
        position: relative;
        top: -22px;
        width: 100%;
    }
    .formWrapperField img {
        float: right;
        width: 135px;
    }
    .formWrapperField input {
        width: 100%;
    }
}