<script type="text/javascript" src="slide/highslide/highslide-with-html.js"></script>
<link rel="stylesheet" type="text/css" href="slide/highslide/highslide.css" />
<script type="text/javascript">
    hs.graphicsDir = 'slide/highslide/graphics/';
    hs.outlineType = 'rounded-white';
</script>



<!--
3) The contentId option points to the id of the div below. Remember to change it in both
places if you have multiple popups!
-->


<a href="#" onmouseover="return hs.htmlExpand(this, { contentId: 'highslide-html' } )" class="highslide">HTML content</a>

<div class="highslide-html-content" id="highslide-html">
	<div class="highslide-header">
		<ul>
			<li class="highslide-move">
				<a href="#" onclick="return false">Move</a>
			</li>
			<li class="highslide-close">
				<a href="#" onclick="return hs.close(this)">Close</a>
			</li>
		</ul>
	</div>
	<div class="highslide-body">
	TEXT GOES HERE.
	</div>
	<div class="highslide-footer">
	        <div>
        	    <span class="highslide-resize" title="Resize"><span></span></span>
	        </div>
  	  </div>
	</div>
</div>
